# H3 shutdown service
# Sends alive messages to ARISC co-processor.
# Not having recieved an alive message from the service
# the co-processor switches off board devices.

[Unit]
Description=H3 shutdown service
Before=basic.target
After=sysinit.target local-fs.target
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/boot/h3-shutdown-client
Restart=always

[Install]
WantedBy=basic.target

